.avatar{
  border: 1px solid black;
  width:200px;
  border-radius: 100%;
  margin: 0 auto;
}

.detailsCard{
  width:50vw;
  margin:0 auto;
  margin-top: 15vh;
  display: flex;
}

.details{
  width:50%
}
