.contactForm{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  /*border: 1px solid red;*/
  width: 75%;
  /*width: 60vw;
  margin: 0 auto;
  margin-top:10vh;*/
  /*padding:15px,0px,15px,0px;*/
}

.container{
  width: 50vw;
  margin: 0 auto;
  margin-top:10vh;
  padding:15px,
}

#submitButton{
  width:100px
}

.formInput{
  width:90%;
  margin: 0 auto;
}